ECHO is on.
# Ignore Python virtual environments
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore database files
*.db

# Ignore IDE-specific files
.vscode/
.idea/

data/sentiment140.csv
